# Ignoring Colors.yml file form Alacritty
alacritty/.config/alacritty/colors.toml

# Ignoring Nvim Theme.lua file from Nvim
neovim/.config/nvim/after/plugin/theme.lua
# Ignoring Packer Compiled File from Nvim
neovim/.config/nvim/plugin/packer_compiled.lua

# Ignoring Zsh History
zsh/.config/zsh/zsh_history

# Ignoring Tmux History
tmux/.config/tmux/tmux_history
